# Python 3 Program

##  변수 - 자료구조(리스트, 튜플,집합,★사전★)  - 함수

##  자료 - 기본자료형(논리형, 정수형, 실수형, 문자형,복소수형)
- 논리형은 형변환 불가
- 정수형, 실수형은 숫자형
- 문자형: 하나의 글자도 문자 (다른 언어는 문자형과 문자열로 구분함)

## 제어문: 흐름, 순서를 제어할 목적을 사용 (조건문, 반복문, 기타제어문)
- if/ if~elif/ if ~else문
- for문/ while문
- continue/ break

# 자료

## 문자열 자료형

### 문자열(string) 자료형 : 하나의 문자 또는 그 이상의 문자를 묶어놓은 자료형
### 큰 따옴표 ("") 또는 작은 따옴표 ('') 
### 여러 줄의 문자열을 처리할 때는 큰 따옴표나 작은 따옴표가 3개 있다 (""" ~ """ or '''~''').

In [2]:
"Hello, World" # "" 안에 담긴거 뜻: 문자열, 계산기 기능을 포함하는 거라 print 안써도 출력됨. 그렇지만, print써주자

'Hello, World'

In [3]:
4+5

9

In [5]:
print("Python is fun")

Python is fun

In [8]:
"""룰루랄라라,
오하이오 올라 꼬모 딸레딸레뿌우~"""  # \n : 개행문자

'룰루랄라라,\n오하이오 올라 꼬모 딸레딸레뿌우~'

In [9]:
print("""룰루랄라라,
오하이오 올라 꼬모 딸레딸레뿌우~""")

룰루랄라라,
오하이오 올라 꼬모 딸레딸레뿌우~

In [10]:
print("life is short, you need "Python"")  # 검은 글자로 변경된건 출력되지 않는다는 뜻 -> 오류발생 
                                           # 전체가 ""로 묶여있으면 안은''로 묶는다. 즉, 반복사용 불가능

SyntaxError: invalid syntax (3748956772.py, line 1)

In [11]:
print("life is short, you need 'Python'")

life is short, you need 'Python'

In [12]:
print("life is short, you need \"Python\"") # 동일한 따옴표를 한 줄에 쓰고 싶다면 escape 사용

life is short, you need "Python"

### ESCAPE 문자
- \ (￦) 
- \n (new line) : 개행
- \t (tap key) : 일정 간격 띄어라

###  문자열 연산
- +(더하기) : 연결, 
- *(곱하기) : 반복, 곱할 값은 정수형을 사용해야함

In [15]:
a = "hello"
b = "python"
print( a + b )
print( b * 3 ) # 응용해서 많이 사용

hellopython
pythonpythonpython

In [22]:
print("=" * 30) # 이런식으로 곱하기 연산문이 많이 쓰임
print("life is short, you need python")
print("=" * 30)

==============================
life is short, you need python
==============================

### 문자열 길이: len()함수, length

In [23]:
p = "life is short, you need python" # 공백과 특수문자 다 문자임, 키보드에서 입력되는 값들은 다 문자
print(len(p))

30

### 인덱싱과 슬라이싱
- 특정 위치의 값을 추출하는 것
- []안에는 기본적으로 인덱스가 옴 
- 인덱스는 위치를 나타냄
- [index], [start: end], [start:end:step]  step -1 하면 역순

In [48]:
a = "life is too short, you need python"
# sequence자료형 : list, tuple, range, 문자
print(a[0]) # 인덱스의 시작은 0부터 시작함
print(a[-1]) # reverse 인덱스 : 뒤에서 부터 읽어오는 것
print(a[3]) # 4번째 문자를 나타냄 

# 슬라이싱
print(a[5:]) 
print(a[0:4])
print(a[:4]) # 시작값 생략 가능 : 처음부터 end까지 추출해오라는 것
print(a[:])
print(a[0:]) # 마지막 인덱스 생략시 끝까지 
print()


jumin = "220902-1234567" # 문자열

# 출생년도
print("20" + jumin[:2])
print("20" + jumin[:6])

# 성별 : 1800- 0(짝수)과 9(홀수), 1900 - 1(홀수)과 2(짝수), 2000 - 3(홀수) 과 4(짝수), 홀수 : 남, 짝수 : 여
print(type(jumin[7])) # 데이터 타입을 먼저 알아야함 , 문자열에서 가져왔으니까
if int(jumin[7]) % 2 == 0 : 
    print("여자")
else:
    print("남자")
    
# 출생지역

l
n
e
is too short, you need python
life
life
life is too short, you need python
life is too short, you need python

2022
20220902
<class 'str'>
남자

In [49]:
# 파이썬의 메모리 관리 방식
# -5 ~ 256까지는 이미 메모리에 저장되어서 시작된다.
# == : 값 비교, is : 주소 비교
a = -5
# print(a == -5)
print(a is -5)

a = -6
# print(a == -6)
print(a is -6)

True
False

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\admin\AppData\Local\Temp\ipykernel_6864\2412616762.py:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(a is -5)
C:\Users\admin\AppData\Local\Temp\ipykernel_6864\2412616762.py:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(a is -6)

In [51]:
a = print("hello")
print(a)

hello
None

### 리스트 자료형
- 시퀀스 자료형
- []
- 다양한 자료형도 담을 수 있다

In [53]:
a = [1,'a',3.14,'korea',True, 10-20]  # 식은 계산해서 나타남
a

[1, 'a', 3.14, 'korea', True, -10]

In [55]:
print(type(a))
print(type(a[0]))

<class 'list'>
<class 'int'>

In [56]:
b = [] # 빈 리스트
c = list() # 어떤 자료형을 list 시켜라 # tuple(): 튜플로 형변환시키는 자료형
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>

In [88]:
x = [1,2,3,['a','v','d','s'],5,6,(7,80)] # 리스트 안에 튜플, 리스트 담을 수 있음
x

[1, 2, 3, ['a', 'v', 'd', 's'], 5, 6, (7, 80)]

In [65]:
print(x[0])
print(x[:])
print(x[-1])
print(x[3])
print(x[3][0]) # 리스트 안에 리스트의 값을 읽어올 수 있다
print(x[3][0:2]) # 이차원 배열 # [행, 열]

1
[1, 2, 3, ['a', 'v', 'd', 's'], 5, 6, (7, 80)]
(7, 80)
['a', 'v', 'd', 's']
a
['a', 'v']

In [81]:
print(x[3][1],x[3][2]) # 리스트 자료형이 아님 
print([x[3][1], x[3][2]]) # 리스트로 변경이 안되는 이유가 공백이 나와서

v d
['v', 'd']

In [82]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [83]:
[a[0]+b[0],a[1]+b[1],a[2]+b[2]]

[5, 7, 9]

In [84]:
x =[]
for i in range(3): # 0,1,2 => 인덱스 주소 넘버
    imsi = a[i] + b[i]
    x.append(imsi)
print(x)

[5, 7, 9]

In [85]:
# 리스트 안의 튜플의 한 요소를 바꿀 순 없지만 리스트 안의 튜플 전체는 리스트의 요소에 해당하기에 수정이 가능하다

In [87]:
x[-1] = ['a','b']
print(x) # 리스트의 요소를 변경한 것

[5, 7, ['a', 'b']]

In [90]:
x= [1,2,(3,5)]
x[2][0]=5
print(x) # 튜플의 요소는 변경 불가

TypeError: 'tuple' object does not support item assignment

In [93]:
y = (1,2,[1,2,5])
print(y)
print(type(y))
y[2][0]='k'
print(y) # 리스트라서 변경이 가능하다

(1, 2, [1, 2, 5])
<class 'tuple'>
(1, 2, ['k', 2, 5])

### 리스트 관련 함수 (리스트객체명. 함수())
- 리스트에 마지막 요소에 추가 .append()
- 원하는 위치에 요소 추가 : .insert(index,data)
- 리스트 정렬 .sort() 기본 : 오름차순, sort(reverse=True) : 내림차순
- 리스트를 뒤집기 reverse()
- 리스트 해당 요소의 인덱스 index(data) # data가 어느 위치에 있는지 반환
- 리스트 요소 삭제 : del 리스트명[인덱스], .remove(data) 왼쪽에서 첫번째만 제거된다, .clear()
- 리스트의 마지막 요소 추출 : .pop()
- 리스트의 요소의 개수 : 리스트명.count(data) data가 몇 개 있냐 ~~ 
- 리스트의 확장 : 리스트.extend(리스트 자료형만 올 수 있다) 🚨변수 필요 없음!!!!!

### 튜플자료형
- 시퀀스 자료형
- 변경 불가
- ()
- 요소가 하나일 땐 ,가 필요

In [101]:
t1 = ()
t2 = (1,) # 하나의 데이터만 담을 때는 ,를 마지막에 붙여줘야 튜플이 안풀림
t3 = (1,2,3)
t4 = [1]
print(t1)
print(t2)
print(t3)
print(t4)
t5 = (1,2,3,['a','b'],(1,5,8))
print(t5)

()
(1,)
(1, 2, 3)
[1]
(1, 2, 3, ['a', 'b'], (1, 5, 8))

In [103]:
print(t5[3])
print(type(t5[3]))

['a', 'b']
<class 'list'>

In [105]:
t4[3] = 4 # 튜플의 요소는 변경할 수 없기 때문에 변경 불가, 하나하나의 리스트요소로 바꿀려고 하면 가능

IndexError: list assignment index out of range

In [106]:
t5[3][0] = 'me'
print(t5)

(1, 2, 3, ['me', 'b'], (1, 5, 8))

In [107]:
print(t5[:2])

(1, 2)

In [109]:
t1 = (1,2,'a','b')
t2 = (3,4)
print(t1 + t2)
print("t1 = ",t1)
print("t2 = ",t2) # 확장의 개념으로 변경이 된것, t1과 t2는 변경되지 않음

(1, 2, 'a', 'b', 3, 4)
t1 =  (1, 2, 'a', 'b')
t2 =  (3, 4)

In [111]:
t1 = t1 + t2 # 변경의 의미 말고 새로운 튜플이 생성이 된 것이라 봐야한다.
print(t1)

(1, 2, 'a', 'b', 3, 4, 3, 4)

In [112]:
print(t2 * 2)

(3, 4, 3, 4)

In [113]:
print(len(t1)) # t1 = t1 + t2 의 값의 개수를 묻는 것

8

In [114]:
# 파이썬에서 별도의 자료를 설정하지 않으면 튜플로 봄

In [115]:
t1.pop()
t1 # 변경의 의미가 되기에 튜플에서 팝형식 안됨

AttributeError: 'tuple' object has no attribute 'pop'

### 딕셔너리, 사전 
- 키 : 값 = 아이템
- {}
- 인덱스가 없고 순서의 의미도 없다.
- 키를 통해 데이터를 읽어온다 (키 중복 불가, 값은 중복 가능)
- 사전. keys() 임의의 순서 (리스트에 담김)
- 사전. values() 임의의 순서 (리스트에 담김)
- 사전. items() 임의의 순서 (튜플 타입에 담김)
- keys, values, items 가 반환하는 자료형 => 리스트

In [116]:
dic = {} # 빈집합
dic = {'a' :1} # 이젠 집합이 됨
s = {} # 집합도 중괄호 씀, 빈집합
l = []
t = ()

In [118]:
dic = {'a':1}
s = {1,2,3,1,2} # 집합은 중복이 안된다
l = []
t = ()
s

{1, 2, 3}

In [125]:
dic = {'name' : 'aaa', 'phone':'123-456-789'}
print(dic)
print(type(dic))

{'name': 'aaa', 'phone': '123-456-789'}
<class 'dict'>

In [126]:
# [조건식] , index, : , 조건식 - 조건식이 참인 것만 대상으로 작업
print(dic['name'])

# 사전[key]
dic['age'] = 33
print(dic)

aaa
{'name': 'aaa', 'phone': '123-456-789', 'age': 33}

In [127]:
dic[0]

KeyError: 0

In [128]:
dic[3] = [1,2,3]
print(dic)

{'name': 'aaa', 'phone': '123-456-789', 'age': 33, 3: [1, 2, 3]}

In [130]:
del dic[3]
print(dic)

KeyError: 3

In [131]:
print(dic)

{'name': 'aaa', 'phone': '123-456-789', 'age': 33}

In [135]:
student = {'id': [111,222,333,444,555],
          'name': ['aaa','bbb','ccc','ddd','eee'],
          'kor': [88,92,74,100,93],
          'eng' : [90,87,74,88,93],
          'math': [80,70,90,50,60]}
print(student)

{'id': [111, 222, 333, 444, 555], 'name': ['aaa', 'bbb', 'ccc', 'ddd', 'eee'], 'kor': [88, 92, 74, 100, 93], 'eng': [90, 87, 74, 88, 93], 'math': [80, 70, 90, 50, 60]}

In [136]:
print(student['id'])

[111, 222, 333, 444, 555]

In [143]:
print(student.keys())

dict_keys(['id', 'name', 'kor', 'eng', 'math'])

In [139]:
print(student.values())

dict_values([[111, 222, 333, 444, 555], ['aaa', 'bbb', 'ccc', 'ddd', 'eee'], [88, 92, 74, 100, 93], [90, 87, 74, 88, 93], [80, 70, 90, 50, 60]])

In [140]:
print(student.items())

dict_items([('id', [111, 222, 333, 444, 555]), ('name', ['aaa', 'bbb', 'ccc', 'ddd', 'eee']), ('kor', [88, 92, 74, 100, 93]), ('eng', [90, 87, 74, 88, 93]), ('math', [80, 70, 90, 50, 60])])

In [141]:
a = [[1,2,3],[4,5,6]] # 2차원 리스트
print(a)

[[1, 2, 3], [4, 5, 6]]

In [144]:
for key in student.keys() :
    print(key) 🌝🌬🌀🌈☂🌠

id
name
kor
eng
math

In [145]:
student.clear()

In [147]:
print(student)

{}

In [148]:
dic = {'name' : 'aaa', 'phone':'123-456-789'}
dic['age'] = 33
print(dic)

{'name': 'aaa', 'phone': '123-456-789', 'age': 33}

In [149]:
print(dic['name'])

aaa

In [150]:
print(dic.get('name')) # name 이라는 키가 가진 값을 얻어오는 함수 get()

aaa

### 집합
- 중복이 불가능
- 순서가 없다
- {}
- s = set([1,2,3,4,5]) 
- 개별적 요소로 접근 불가
- 값을 집어넣을 순 있지만 순서가 없기에 뒤에 붙임

In [151]:
s = set([1,2,3,4,5]) 
print(s)

{1, 2, 3, 4, 5}

In [156]:
s2 = set('hello')
print(s2)

{'l', 'h', 'e', 'o'}

In [157]:
a = list(s)
print(a)

[1, 2, 3, 4, 5]

In [160]:
b = tuple(s)
print(b)

(1, 2, 3, 4, 5)

### 집합과 관련 함수
- add : 1 개 요소 추가

In [163]:
print(s)
s.add(6) # 1개의 값만 추가할 수 있음
print(s)
s.add(5)
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [164]:
# 여러개의 값을 추가할 때 쓰는 함수 : update(리스트,튜플자료형) --> 집합자료형은 다 됨
s1 = set([1,2,3])
print(s1)

{1, 2, 3}

In [165]:
s1.update([4])
print(s1)

{1, 2, 3, 4}

In [166]:
s1.update([90,50,'s'])
print(s1)

{1, 2, 3, 4, 's', 50, 90}

In [167]:
s1.update((88,96,'57'))
print(s1)

{96, 1, 2, 3, 4, '57', 's', 50, 88, 90}

In [168]:
s1.update("spiderman")
print(s1)

{96, 1, 2, 3, 4, '57', 'p', 'd', 'i', 'm', 'n', 'r', 's', 50, 'a', 88, 90, 'e'}

In [169]:
# 특정 값을 제거하는 함수 remove(값)
s1.remove('p')
print(s1)

{96, 1, 2, 3, 4, '57', 'd', 'i', 'm', 'n', 'r', 's', 50, 'a', 88, 90, 'e'}

In [2]:
print("#")
print()
print("#"*3)
print()

for i in range(5): # 0,1,2,3,4
    print("#",end=" ")

print()

for i in range(5): # 0,1,2,3,4
    print("#"*5)
    
print ()

for i in range(6) :
    print("#"*i)
    
print()

for i in range(6) :
    print("{4:f}".format("#"*i).sort(reverse=True))

#

###

# # # # #
#####
#####
#####
#####
#####


#
##
###
####
#####

IndexError: Replacement index 4 out of range for positional args tuple

In [40]:
n = 0
for i in range(4,-1,-1):
    n = n + 1
    print(" " * i + "#" * n)

    #
   ##
  ###
 ####
#####

In [ ]:
for i in range(6:1:-1)

In [ ]:
#####
####
###
##
#

### 제어문

- 조건문 : 단순 if/ if~else문/ elif문 => 선택문
- 조건식 : True, False 로 판정이 되는 식 (비교 == 관계, 논리연산자)

In [205]:
money = True

if "" :
    print("택시 타고 집가자")
else:
    print("걸어가자")

걸어가자

### 계산기 프로그램

In [46]:
# 두 개의 정수와 하나의 연산자를 입력받아 연산을 수행한 후 결과를 출력하는 프로그램을 구현하시오 😣😏🙄🤬🤠🤓👻☠👾

a1 = int(input("정수1 = "))
yeon =input("연산자 : +,-,*,/ 중 택 1 : ")
check = True
while check:
    a2 = int(input("정수2 = "))
    if yeon != '/' or a2 != 0:
        check = False

res = 0
if yeon == '+':
    res = a1 + a2
elif yeon == '-':
    res = a1 - a2
elif yeon == '*':
    res = a1 * a2
else:
    res = a1 / a2

print("{0} {1} {2} = {3}".format(a1, yeon, a2, res))

정수1 = 5
연산자 : +,-,*,/ 중 택 1 : +
정수2 = 3
5 + 3 = 8

### UP/DOWN 게임

In [2]:
# 1에서 100사이의 숫자 하나를 랜덤으로 발생한 후 사용자가 입력한 숫자와 비교하여 그 결과를 출력하는 프로그램
import random

# 난수 생성 함수 : random.randint(1,100) - 하나의 정수 난수 (1~100) 생성
check = random.randint(1,100)
print(check)
a = int(input("랜덤숫자 입력하시오(1~100) : "))

while (a != check) : # a not in  check 같지 않다면 계속 반복해라
    if a > check:
        print("DOWN")
    else :
        print("UP")
    a = int(input("랜덤숫자 입력하시오(1~100) : "))
else :
    print("정답 : ", a, "=", check)

47
랜덤숫자 입력하시오(1~100) : 5
UP
랜덤숫자 입력하시오(1~100) : 47
정답 :  47 = 47

In [3]:
# 1에서 100사이의 숫자 하나를 랜덤으로 발생한 후 사용자가 입력한 숫자와 비교하여 그 결과를 출력하는 프로그램
import random

# 난수 생성 함수 : random.randint(1,100) - 하나의 정수 난수 (1~100) 생성
check = random.randint(1,100)
print(check)
while True:
    a = int(input("랜덤숫자 입력하시오 : "))
    
    if a > check:
        print("DOWN")
    elif a < check :
        print("UP") 
    else:
        break

32
랜덤숫자 입력하시오 : 8
UP
랜덤숫자 입력하시오 : 9
UP
랜덤숫자 입력하시오 : 80
DOWN
랜덤숫자 입력하시오 : 32

### 사다리꼴의 넓이를 구하는 프로그램을 구현하시오.

In [6]:
# 윗변, 아랫변, 높이 
#  [(윗변 + 아랫변) × 높이 ÷ 2]
u = int(input("윗변 = ")) ## 윗변을 입력받는다
b = int(input("밑변 = ")) ## 아랫변을 입력받는다
h = int(input("높이 = ")) ## 높이를 입력받는다
r = (u + b) / 2 * h  ## 넓이를 계산하여 결과를 저장하는 변수에 담는다
## 넓이의 결과를 출력한다
print("사다리꼴의 넓이 = ", r)

윗변 = 3
밑변 = 4
높이 = 7
사다리꼴의 넓이 =  24.5

### 멀티프로그램

In [7]:
# 1. 최대값 2. 수나열 3. 사칙연산 4. 프로그램 종료 5. 메뉴
# 최대값 : 두 개의 정수를 입력받아 큰 수를 출력하는 프로그램
# 수나열 : 세 개의 정수를 입력받아 큰 순서대로 나열하여 출력하는 프로그램
# 사칙연산 : 두 개의 정수와 하나의 연산자를 입력받아 계산결과를 출력하는 프로그램

In [ ]:
while True : 
    
    print("==== main menu ====")
    print("1. 최대값 구하기")
    print("2. 수나열 구하기")
    print("3. 계산기 프로그램")
    print("4. 프로그램 종료")
    print("===================")
    menu = int(input("menu = "))
    
    if menu == 4:
        break
    elif menu == 1 :
        pass
    elif menu == 2 :
        pass
    elif menu == 3 :
        pass
    else :
        print("너 바보지?~~!")

==== main menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================
menu = 9
너 바보지?~~!
==== main menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================

### 함수(function)
1. 함수의 정의 : 관련된 기능이나 명령어를 묶음
   - 필요할 때 호출해서 사용
   - 유지보수 수월
   - 가독성이 좋다
   
2. 함수의 구조(구성) : .def(=define) 선언문 
   .def 함수의 이름(매개변수): <br>
       문장1 <br>
       문장2 <br>
        |    <br>
       return 하나의 값 or 수식 or 자료형
       

3. 함수의 호출 방법
    - 이름에 의한 호출 call by name  - 매개변수가 없는 함수
    - 값에 의한 호출 call by value
    - 주소에 의한 호출 call by reference 
      (값과 주소를 묶어서 생각 매개변수가 없으면 값에 의한 호출)
      
4. 함수의 기본 형식
    - def aaa():
      => 매개변수 없고, 리턴값 없는 경우) 함수의 이름만 가지고 호출 가능
      => 매개변수 없고, 리턴값 있는 경우
      => 매개변수 있고, 리턴값 없는 경우
      => 매개변수 있고, 리턴값 있는 경우

In [22]:
# 매개변수, 리턴값 없는 함수
def aaa() : 
    print("hi")
    print("뭘봐")
# 함수를 선언만 한 것

In [23]:
# 매개변수 없고, 리턴값만 있는 경우
def bbb() :
    return "hi"

In [24]:
# 매개변수 있고, 리턴값 없는 경우
def ccc(a):
    print(a)

In [25]:
def ddd(a,b,c):
    print(a+b+c)

In [26]:
# 매개변수가 있고 리턴값도 있는 경우
def eee(a,b) :
    c = a+b
    return c

In [27]:
# 함수 호출
print("프로그램 시작")
print("여러가지 작업")
aaa() 
print("프로그램 종료")

프로그램 시작
여러가지 작업
hi
뭘봐
프로그램 종료

In [28]:
# 함수 호출 😴🥱😫😫😪😪
print("프로그램 시작")
print("여러가지 작업")
print(bbb()) 
print(string)
print("프로그램 종료")

프로그램 시작
여러가지 작업
hi

NameError: name 'string' is not defined

In [32]:
# 함수 호출
print("프로그램 시작")
print("여러가지 작업")
print(eee(1,2))
x=eee(1,2)
print(x)
print("프로그램 종료")

프로그램 시작
여러가지 작업
3
3
프로그램 종료

In [8]:
# default parameter : 초기 파라미터
## 함수의 매개변수에 초기값을 담아서 처리하는 기능
def ppp(a=10,b=20,c=30):
    print(a,b,c)

In [9]:
ppp()

10 20 30

In [10]:
ppp(100)

100 20 30

In [11]:
ppp(100,200,)

100 200 30

In [12]:
ppp(100,200,300)

100 200 300

In [13]:
def kkk(a,b, c=3):
    print(a,b,c)

In [14]:
kkk()

TypeError: kkk() missing 2 required positional arguments: 'a' and 'b'

In [15]:
kkk(10)

TypeError: kkk() missing 1 required positional argument: 'b'

In [16]:
kkk(10,20)

10 20 3

In [17]:
kkk(20,50,60)

20 50 60

In [18]:
def jjj(a,b=2,c):
    print(a,b,c)
# 초기값은 뒤에서부터 채워줘야함 그래서 a,b에 값주면 에러
# 함수에 값을 담을 때는 앞부터 채워짐

SyntaxError: non-default argument follows default argument (2218505622.py, line 1)

### 가변길이 매개변수

In [53]:
def add(a,b):
    return a+b

In [54]:
def add(a,b,c):
    return(a,b,c)

In [55]:
add(10,20)

TypeError: add() missing 1 required positional argument: 'c'

In [56]:
add(10,20,30)

(10, 20, 30)

### 가변길이 매개변수
 - 개수에 상관없이 데이터를 처리하고자 할때 함수의 매개변수 앞에 * 붙인다

In [57]:
def add_res(*args):
    res=0
    for i in args:
        res += i
    return res

In [58]:
a = add_res(1,2,3,4,5,6,7,8,9)
print(a)

45

In [63]:
def calc(ch,*ar):
    if ch == "add" :
        res = 0
        for i in ar:
            res += i
    elif ch == "mul" :
        res = 1 
        for i in ar:
            res *= i
    return res # 내보내기

In [65]:
a = calc("add",1,5,3,4,8)
a

21

In [66]:
d = calc("mul",1,5,4)
d

20