# 자료구조
- 데이터를 저장하는 기억공간을 효율적으로 사용할 수 있도록 도와주는 기능
- 기억공간을 효율적으로 사용한다는 것은 낭비를 최소화하고 처리속도를 빠르게
- 파이썬에서 제공하는 자료구조 : 리스트, 튜플, 세트, 딕셔너리, 타임프레임

## 리스트(List)
- 임의의 객체를 순서대로 저장하는 자료형(시퀀스_sequence 자료형)
- 각 데이터의 값이 담겨지는 위치를 인덱스(index)라고 부른다.
- 인덱스는 0부터 시작된다.
- 변경 가능
- 대괄호[] 를 사용하여 데이터를 표현한다.

In [3]:
# 리스트(list) : 하나의 변수에 여러 값을 할당하는 자료구조, 자료형
# 시퀀스 자료형 : 순서대로 데이터를 저장하는 자료형(리스트, 문자열, 튜플)
a = [10, 20, 30, 40, 50]
a

[10, 20, 30, 40, 50]

In [4]:
# 자료형을 확인하는 함수
print(type(a))

<class 'list'>

In [5]:
b = ['red', 'blue', 'green']
b

['red', 'blue', 'green']

In [6]:
# 인덱스(index) : 데이터의 위치
b[0]

'red'

In [7]:
b[-1]

'green'

In [8]:
# 중첩 리스트 : 리스트 안에 또 다른 리스트를 담는 것
x = [1, 2, 3,['a', 'b', 'c']]
x

[1, 2, 3, ['a', 'b', 'c']]

In [9]:
x[3]

['a', 'b', 'c']

In [10]:
x[3][0]

'a'

In [11]:
x[3][2]

'c'

In [12]:
x[-1][-1]

'c'

In [13]:
y = [1, 2, 3, 4, 5]
y

[1, 2, 3, 4, 5]

In [14]:
# 변수 = 값
y[0] = 10
y

[10, 2, 3, 4, 5]

In [15]:
# 슬라이싱(slising) : 리스트에 범위지정을 통해 데이터를 추출, start(처음 위치):end( 끝 위치 -1)
# 파이썬은 마지막데이터를 포함하지 않는다. end-1번째 까지만 추출
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [16]:
x[0:5]

[1, 2, 3, 4, 5]

In [17]:
x[:5]

[1, 2, 3, 4, 5]

In [18]:
x[0:]

[1, 2, 3, 4, 5]

In [19]:
x[:]

[1, 2, 3, 4, 5]

In [20]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [21]:
# 변수명[인덱스]
# 변수명[시작인덱스 : 마지막인덱스], 마지막인덱스 -1 까지만 추출
print(cities)
print(cities[0:8])
print(cities[0:])
print(cities[:8])
print(cities[:])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [22]:
cities[-8:]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [23]:
# 증가값(step) 
# 변수명[시작인덱스: 마지막인덱스: 증감값]
cities[::2]

['서울', '인천', '대전', '울산']

In [24]:
cities[::-1] # 역으로 슬라이싱

['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [25]:
# 깊은 복사와 얕은 복사
a = [1, 2, 3, 4, 5]
b = a    # 개체복사
print('a = ', a)
print('b = ', b)

a =  [1, 2, 3, 4, 5]
b =  [1, 2, 3, 4, 5]

In [26]:
a[0] = 10
print('a = ', a)
print('b = ', b)

a =  [10, 2, 3, 4, 5]
b =  [10, 2, 3, 4, 5]

In [27]:
# 자료형의 주소를 읽어오는 함수 : id()
print(id(a))
print(id(b))

2851011040384
2851011040384

In [28]:
a = [1, 2, 3, 4, 5]
b = a[:]
print('a = ', a)
print('b = ', b)

a =  [1, 2, 3, 4, 5]
b =  [1, 2, 3, 4, 5]

In [29]:
a[0] = 10
print('a = ', a)
print('b = ', b)

a =  [10, 2, 3, 4, 5]
b =  [1, 2, 3, 4, 5]

In [30]:
print(id(a))
print(id(b))

2851027776768
2851027732544

### 리스트의 연산

In [31]:
# 덧셈연산
x = [1, 2, 3]
y = [4, 5, 6]
a = x + y # extend(확장)
a

[1, 2, 3, 4, 5, 6]

In [32]:
xx = ['red', 'blue', 'green']
yy = ['orange', 'black', 'white']
print(xx + yy)
print(len(xx))

['red', 'blue', 'green', 'orange', 'black', 'white']
3

In [33]:
# 리스트 곱셈
xx * 3

['red', 'blue', 'green', 'red', 'blue', 'green', 'red', 'blue', 'green']

In [34]:
a = [1, 2, 3]
print(a[2])
print('hello' + 'python')
print(a[2] + "hi")

3
hellopython

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
type(a[2])

In [ ]:
type(a)

In [35]:
print(str(a[2]) + "hi")

3hi

In [36]:
# in 연산 : 포함여부, 포함할 경우: True, 포함되지 않을 경우 : False
color = ['red', 'blue', 'green', 'orange', 'black', 'white']
color

['red', 'blue', 'green', 'orange', 'black', 'white']

In [37]:
'blue' in color

True

In [38]:
# 리스트의 추가, 삭제
## append() : 새로운 데이터가 마지막 위치에 추가된다.
color = ['red', 'blue', 'green']
color

['red', 'blue', 'green']

In [39]:
color.append('white')
color

['red', 'blue', 'green', 'white']

In [40]:
# extend() : 기존 리스트에 새로운 리스트를 추가

In [41]:
color = ['red', 'blue', 'green']
color.extend(['orange', 'black', 'white'])
color

['red', 'blue', 'green', 'orange', 'black', 'white']

In [42]:
# insert(index, data)
color. insert(0, 'orange')
color

['orange', 'red', 'blue', 'green', 'orange', 'black', 'white']

In [43]:
# remove(data)
color.remove('red')
color

['orange', 'blue', 'green', 'orange', 'black', 'white']

In [44]:
# del : 인덱스를 이용한 삭제
del color[0]
color

['blue', 'green', 'orange', 'black', 'white']

In [45]:
# 패킹(packing)과 언패킹(unpacking)
## packing : 하나의 변수에 여러 개의 데이터를 할당하는 것
## unpacking : 하나의 변수에 담긴 여러 개의 데이터를 각각의 변수로 반환
x = [1, 2, 3]
a, b, c = x
print(x, a, b, c)

[1, 2, 3] 1 2 3

In [46]:
a, b, c, d = x

ValueError: not enough values to unpack (expected 4, got 3)

In [47]:
a, b = x

ValueError: too many values to unpack (expected 2)

In [48]:
# 이차원 리스트
kor = [49, 79, 20, 100, 80]
eng = [88, 77, 99, 66, 50]
math = [90, 100, 52, 60, 70]
score = [kor, eng, math]
score

[[49, 79, 20, 100, 80], [88, 77, 99, 66, 50], [90, 100, 52, 60, 70]]

In [49]:
print(kor)
print(score[0])

[49, 79, 20, 100, 80]
[49, 79, 20, 100, 80]

In [50]:
print(eng)
print(score[1])

[88, 77, 99, 66, 50]
[88, 77, 99, 66, 50]

In [51]:
print(math)
print(score[2])

[90, 100, 52, 60, 70]
[90, 100, 52, 60, 70]

In [52]:
# 두 번째 학생의 국어점수
print(kor[1])
print(score[0][1])

79
79

In [53]:
x = [1, 2, 3, 4, 5]
y = x
x[0] = 100
y

[100, 2, 3, 4, 5]

In [54]:
# == : 값을 비교하는 연산자, is : 메모리의 주소를 비교하는 연산자
a = 300
b = 300

print(a == b)
print(a is b)

True
False

In [55]:
# 파이썬은 -5에서부터 256까지 이미 메모리에 할당되어 있다. (값과 주소가 같다.) 

a = 1
b = 1

print(a == b)
print(a is b)

True
True

In [56]:
a = 256
b = 256

print(a == b)
print(a is b)

True
True

In [57]:
a = 257
b = 257

print(a == b)
print(a is b)

True
False

In [58]:
a = 1.25
b = 1.25

print(a == b)
print(a is b)

True
False

In [59]:
# 리스트의 요소를 제거하는 작업
## 인덱스를 이용해서 제거 : del 명령어, pop() 함수
a = [0, 1, 2, 3, 4, 5]
del a[1]
print('a = ' , a)

a =  [0, 2, 3, 4, 5]

In [60]:
a.pop(2)
print('a = ', a)

a =  [0, 2, 4, 5]

In [61]:
# 모두 제거 : clear()
a.clear()
print('a = ', a)

a =  []

In [62]:
# 정렬(sort) : 기본 오름차순
b = [52, 273, 103, 32, 8, 1]
b.sort()

In [63]:
print(b)

[1, 8, 32, 52, 103, 273]

In [64]:
b = [52, 273, 103, 32, 8, 1]
b

[52, 273, 103, 32, 8, 1]

In [65]:
b.sort(reverse = True) # 내림차순
print(b)

[273, 103, 52, 32, 8, 1]

In [66]:
# in 연산자, not in 연산자
b = [52, 273, 103, 32, 8, 1]
7 in b

False

In [67]:
7 not in b

True

## 튜플(Tuple)
- 리스트와 유사하지만 값을 변경할 수 없다. 즉, 읽기 전용 자료를 저장할 때 사용
- 각 값에 대한 인덱스가 부여된다.
- 변경 불가능
- 소괄호()를 사용하여 데이터를 표현한다.

## 사전(Dictionary)
- 키(key)와 값(value)을 쌍(아이템, item)으로 담아서 관리하는 자료구조
- 저장된 각 값에 대한 순서는 의미가 없다.
- 저장된 데이터는 키(key)에 의해 조회된다.
- 키(key)는 중복을 허용하지 않는다.
- 중괄호 {}를 사용하여 데이터를 표현한다.

## 집합(set) 
- 인덱스가 없고 값만 저장되는 자료구조
- 순서는 의미가 없다.
- 중괄호 {}를 사용
- 컴마(,)를 기준으로 데이터를 분리한다.
- 중복값을 허용하지 않는다.

# 제어문
1. 정의 : 프로그램의 흐름이나 순서를 제어할 때 사용하는 문장
          일반적으로 프로그램은 위에서 아래로, 좌에서 우로 진행
2. 조건문 or 비교/판단문 or 선택문
 - 주어진 조건에 따라 프로그램의 실행을 선택 또는 변경
 - 조건식은 반드시 그 결과가 참 도는 거짓으로 판정이 되는 식
 - if문
 
3. 반복문
 - 동일하거나 유사한 성격을 가진 문장을 반복할 때 사용하는 문장
 - 주어진 조건이 참일 때 문장을 반복
 - 유사한 성격이란 동일한 행위를 하되 일정한 규칙을 가지고 있는 문장
 - for문, while문

4. 기타 제어문
 - break : 무조건 반복을 벗어나라는 의미
 - continue : 이하 생략

## 조건문 - if문

In [68]:
print('hi')
a = 1
print('a = ', a)
print('바보 배고파')

hi
a =  1
바보 배고파

In [69]:
# 파이썬은 들여쓰기가 중요하다.
print('hi')
a = 1
if a == 0:
    print('a = ', a)
    print('바보 배고파')

hi

In [70]:
print('hi')
a = 0
if a == 0:
    print('a = ', a)
    print('바보 배고파')

hi
a =  0
바보 배고파

In [71]:
# 하나의 숫자를 입력받아 짝수인지 판정하는 프로그램을 구현하시오

In [72]:
# 정답
num = int(input('숫자 = '))

if num % 2 == 0:
    print('입력받은 숫자 %d는 짝수입니다.' % num)
else:   
    print('입력받은 숫자 %d는 홀수입니다.' % num)

숫자 = 2
입력받은 숫자 2는 짝수입니다.

In [73]:
A = int(input('하나의 숫자를 입력하세요: '))
if A % 2 == 0:
    print('입력받은 숫자 %d는 짝수입니다.' % A)
elif A % 2 != 0:
    print('입력받은 숫자 %d는 짝수가 아닙니다.' % A)
else: 
    print('숫자가 아닙니다.')

하나의 숫자를 입력하세요: 1
입력받은 숫자 1는 짝수가 아닙니다.

In [ ]:
# 하나의 숫자를 입력받아 양수인지 음수, 0인지 판정하는 프로그램을 구현

In [74]:
#정답
num = int(input('숫자 = '))

if num < 0:
    print('음수')
elif num > 0:
    print('양수')
else:
    print('제로')

숫자 = 5
양수

In [2]:
a = int(input('하나의 숫자를 입력하세요: '))
if a < 0:
    print('입력받은 숫자 %d는 음수입니다.' % a)
elif a > 0:
    print('입력받은 숫자 %d는 양수입니다.' % a)
else: 
    print('0은 음수도 양수도 아닙니다.')

하나의 숫자를 입력하세요: -2
입력받은 숫자 -2는 음수입니다.

###  문제: 성적처리 프로그램 1단계
국어, 영어, 수학점수를 입력받아 총점과 평균을 계산하여 출력하는 프로그램을 작성하시오. 단, 평균은 소숫점 이하 둘째자리까지 출력되도록 구현하시오.<br>
<입력형식><br>
국어 =<br>
영어 =<br>
수학 =<br>

<출력형식><br>
총점 : xx점, 평균 : xx.xx점

In [77]:
#입력문 - 키보드를 통해 데이터를 입력받을 때 사용하는 문장
kor = int(input('국어 = '))
eng = int(input('영어 = '))
math = int(input('수학 = '))

# 처리문 - 제어문이나 함수를 통해 처리하는 문장
tot = kor + eng + math
avg = tot / 3

# 출력문 - 출력형식에 맞게 구현되는 문장
print('총점 : {0}점, 평균 : {1:.2f}점 '.format(tot, avg))

국어 = 88
영어 = 78
수학 = 93
총점 : 259점, 평균 : 86.33점

In [76]:
c = [int(input('국어 = \n, 영어 = \n, 수학 =  \n'))] # 각각의 값을 입력할 수 없기 때문에 전체로 계산해서는 x.
if c[1]+c[2]+c[3] > 0:  # 각 파트별로 점수입력을 받아야지만 총점과 평균값을 계산할 수 있다.
    print('총점: ',c[1]+c[2]+c[3], '입니다.')
elif c[1]+c[2]+c[3]/3 > 0:
    print('평균입니다.' )

국어 =
, 영어 =
, 수학 =
95,30,20

ValueError: invalid literal for int() with base 10: '95,30,20'

### 성적 처리 프로그램 2단계
학점을 부여하시오. 학점은 평균을 이용하여 A, B, C, D, F로 표현하되, <br>
평균이 90점 이상이면 'A학점', 80점 이상이면 'B학점'.....

In [80]:
#입력문 - 키보드를 통해 데이터를 입력받을 때 사용하는 문장
kor = int(input('국어 = '))
eng = int(input('영어 = '))
math = int(input('수학 = '))

# 처리문 - 제어문이나 함수를 통해 처리하는 문장
tot = kor + eng + math
avg = tot / 3

# 출력문 - 출력형식에 맞게 구현되는 문장
print('총점 : {0}점, 평균 : {1:.2f}점 '.format(tot, avg))


if avg >= 90:
    print('A학점')
elif avg >= 80:
    print('B학점')
elif avg >= 70:
    print('C학점')
elif avg >= 60:
    print('D학점')
else:
    print('F학점')

국어 = 85
영어 = 93
수학 = 77
총점 : 255점, 평균 : 85.00점
B학점

## 반복문
- 반복하는 문장
- for문, while문

In [81]:
# for 개별변수 in 집합변수:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [82]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

1
2
3
4
5

In [83]:
for i in a:
    print(i)

1
2
3
4
5

In [84]:
for i in a:
    print('hello')

hello
hello
hello
hello
hello

In [85]:
for _ in a: #_생략의 의미란..??
    print('hello')

hello
hello
hello
hello
hello

In [86]:
# range(start(시작값) , end +1(끝값+1), step(증가, 감소값)) 
for i in range(1, 6, 1):
    print(i)

1
2
3
4
5

In [87]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [88]:
for i in range(6): # 한 값만 있을 경우 시작값은 0이다.
    print(i)

0
1
2
3
4
5

In [89]:
for i in "korea": 
    print(i)

k
o
r
e
a

In [90]:
for i in ['red', 'blue', 'black']:
    print(i)

red
blue
black

In [91]:
for i in [['red', 'blue', 'black']]:
    print(i)

['red', 'blue', 'black']

In [92]:
for i in range(1, 10, 2): # 1부터 9까지 2씩 증가시켜라
    print(i)

1
3
5
7
9

In [93]:
for i in range(1,11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [94]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 구구단 출력하는 프로그램
 하나의 수를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 구현하시오.

In [95]:
dan = int(input('하나의 수를 입력하세요: '))

# for 개별변수 in 집한변수
for i in range(1,10):
    print(dan * i)

하나의 수를 입력하세요: 7
7
14
21
28
35
42
49
56
63

In [97]:
dan = int(input('단수 =  '))

# for 개별변수 in 집한변수
for i in range(1,10):
    print('{0} x {1} = {2}'.format(dan, i, dan*i))

단수 =  7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

### 구구단 출력하시오

In [100]:
# 단수
for dan in range(2, 10):
    print('==== {0}단 ====='.format(dan)) #
    #자연수
    for su in range(1, 10):
        print('{0} x {1} = {2}'.format(dan, su, dan*su))
    print()

==== 2단 =====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

==== 3단 =====
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

==== 4단 =====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

==== 5단 =====
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

==== 6단 =====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

==== 7단 =====
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

==== 8단 =====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

==== 9단 =====
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [104]:
# 다중 for
for i in[1, 2]:
    print('%d 번째' % i)
    for j in [1, 2, 3]:
        print('hi')

1 번째
hi
hi
hi
2 번째
hi
hi
hi

In [105]:
for i in[1, 2]:
    print('%d 번째' % i)
    for j in [1, 2, 3]:
        print('hi')
    print()

1 번째
hi
hi
hi

2 번째
hi
hi
hi

In [108]:
for i in[1, 2]:
    print('%d 번째' % i)
    for j in [1, 2, 3]:
        print('hi')
        print()

1 번째
hi

hi

hi

2 번째
hi

hi

hi

### 1부터 100까지 자연수를 출력하는 프로그램을 구하시오

In [109]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [110]:
for i in range(1,101):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [113]:
for i in range(1,101):
    print('%3d' % i, end = '')
    if i % 10 == 0:
        print()

  1  2  3  4  5  6  7  8  9 10
 11 12 13 14 15 16 17 18 19 20
 21 22 23 24 25 26 27 28 29 30
 31 32 33 34 35 36 37 38 39 40
 41 42 43 44 45 46 47 48 49 50
 51 52 53 54 55 56 57 58 59 60
 61 62 63 64 65 66 67 68 69 70
 71 72 73 74 75 76 77 78 79 80
 81 82 83 84 85 86 87 88 89 90
 91 92 93 94 95 96 97 98 99100

In [114]:
for i in range(1,11):
    print('%5d' % i, end = '')

    1    2    3    4    5    6    7    8    9   10

In [115]:
i = 1
while i < 11:
    print('%5d' % i, end = '')
    i = i + 1 # i += 1

    1    2    3    4    5    6    7    8    9   10

In [116]:
i = 1
while True:  # 무한Loop
    # 서식 %d 정수형
    print('%5d' % i, end = '')
    i = i + 1  # i += 1
    if i > 10:
        break

    1    2    3    4    5    6    7    8    9   10

### 숫자를 다섯개 입력받아 그 합을 계산한 후 출력하는 프로그램

In [117]:
a = int(input('숫자= '))
b = int(input('숫자= '))
c = int(input('숫자= '))
d = int(input('숫자= '))
e = int(input('숫자= '))

tot = a + b + c + d + e

print('tot = ', tot)

숫자= 1
숫자= 5
숫자= 3
숫자= 4
숫자= 2
tot =  15

In [118]:
tot = 0
for i in range(5): # 0, 1, 2, 3, 4
    num = int(input('숫자= '))
    tot = tot + num # tot는 누적변수

print('tot = ', tot)

숫자= 5
숫자= 4
숫자= 1
숫자= 3
숫자= 2
tot =  15

### 숫자를 입력받아 누적합을 계산하는 프로그램을 작성하되, 입력 받은 숫자가 0이면 입력을 중지하고 누적합의 결과를 출력하는 프로그램을 구현하시오.

In [120]:
tot = 0
while True:
    num = int(input('숫자 = '))
    if num == 0: break
    tot = tot + num
    
print('tot = ', tot)

숫자 = 1
숫자 = 0
tot =  1

In [122]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [121]:
for i in range(10):
    if i == 5: continue # 이하생략, 건너뛰기
    print(i) # 위와 비교했을 때 5가 생략 되었다.

0
1
2
3
4
6
7
8
9

In [123]:
# 반복문의 else의 의미 : 어떤 조건이 완전히 끝났을 때 한 번 더 실행해주는 역할
for i in range(10):
    print(i)
else:
    print('End of program')

0
1
2
3
4
5
6
7
8
9
End of program

In [127]:
# 구구단으로 출력할 단수를 입력받는 문장
while True:
    dan = int(input('단 = '))
    if dan >= 2 and dan <= 9: break
    
i = 1
while dan % 2 == 0:
    print('{} x {} = {}'.format(dan, i, dan*i))
    i += 1
    if i > 9:break
else:
    print('짝수단만 출력하고 싶어요~')

단 = 1
단 = 0
단 = 3
짝수단만 출력하고 싶어요~