# Python Program
#### 변수 - 자료구조(리스트, 튜플, 집합, 사전) - 함수
#### 자료 - 기본자료형(논리형, 정수형, 실수형, 문자형)
#### 제어문 - 조건문, 반복문

### 문자열 자료형

In [ ]:
# 문자열(string) 자료형 : 하나의 문자 또는 그 이상의 문자를 묶어놓은 자료형
# 큰 따옴표("") 또는 작은 따옴표('')
# 여러 줄의 문자열을 처리할 때(""" ~ """, ''' ~ ''')

In [1]:
'Hello World'

'Hello World'

In [2]:
4 + 5

9

In [3]:
'python is fun'

'python is fun'

In [4]:
print("""Life is short, 
You need Python""")

Life is short,
You need Python

In [5]:
print("Life is short, You need 'Python'")

Life is short, You need 'Python'

In [6]:
print("Life is short, You need \"Python\"")

Life is short, You need "Python"

#####  이스케이프 문자
- \\, (원화 표시) 동일
- \n(new line) : 줄바꿈(개행)
- \t(tap key) : 일정 간격을 띄워라

In [7]:
# 연산 : +, *
a = 'hello'
b = 'python'
print(a + b)

hellopython

In [8]:
# 문자열 * 횟수(정수형만 가능)
print(b * 5)

pythonpythonpythonpythonpython

In [9]:
print('=' * 70)
print('Life is short, You need Python')
print('=' * 70)

======================================================================
Life is short, You need Python
======================================================================

In [10]:
# 문자열 길이 : len(), length
p = 'Life is short, You need Python'
print(len(p))

30

In [11]:
# 인덱싱과 슬라이싱
# [index], [start:end], [start:end:step]
a = 'Life is too short, You need Python'
print(a[3]) # 네번째 문자인 e가 오게된다.
print(a[-1]) # 리버스 인덱스, 마지막 문자 n이 오게된다.

e
n

In [12]:
print(a[0:4])
print(a[:4]) # 시작 인덱스 생략시 처음부터

Life
Life

In [18]:
print(a[0:]) # 마지막 인덱스 생략시 끝까지
print(a[:])

Life is too short, You need Python
Life is too short, You need Python

In [19]:
jumin = '220902-1234567'
# 출생년도, 월, 일
print('19'+ jumin[0:2])
# 성별 : 1800 - 0과 9, 1900 - 1과 2, 2000 - 3과 4
print(type(jumin[7])) # str 
if int(jumin[7]) % 2 == 0:
    print('여자')
else:
    print('남자')

# 출생지역

1922
<class 'str'>
남자

In [20]:
# 파이썬의 메모리 관리 방식
# -5 ~ 256까지는 이미 메모리에 저장되어서 시작된다.

In [21]:
a = print('hello')
print(a)

hello
None

### 리스트(List) 자료형

In [22]:
a = [1, 'a', 3.14, 'korea', True, 10 + 20]
a

[1, 'a', 3.14, 'korea', True, 30]

In [23]:
print(type(a))
print(type(a[0]))

<class 'list'>
<class 'int'>

In [24]:
b = []
c = list()  # tuple()
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>

In [25]:
x = [1, 2, 3, ['a','b','c','d'], 5, 6, (7, 8)] 
x

[1, 2, 3, ['a', 'b', 'c', 'd'], 5, 6, (7, 8)]

In [26]:
print(x[-1])

(7, 8)

In [27]:
print(x[3])

['a', 'b', 'c', 'd']

In [28]:
print(x[3][1]) # [행, 열]

b

In [29]:
print(x[3][1:3])

['b', 'c']

In [30]:
print(x[3][1], x[3][2])

b c

In [31]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [32]:
[a[0] + b[0], a[1] + b [1], a[2] + b[2]]

[5, 7, 9]

In [33]:
x = []
for i in range(3):  #0, 1, 2 
    imsi = a[i] + b[i]
    x.append(imsi)
print(x)

[5, 7, 9]

In [34]:
g = (1, 2, [4, 5, 6, 7], 8)
g[2]=[1,2,3,4]
g

TypeError: 'tuple' object does not support item assignment

In [35]:
g = [1, 2, [4, 5, 6, 7], 8]
g[2]=[1,2,3,4]
g

[1, 2, [1, 2, 3, 4], 8]

In [36]:
# 리스트 관련 함수 : 리스트 객체명.함수()
## 리스트에 마지막 요소를 추가 append()
## 리스트에 원하는 위치에 요소를 추가 insert(index, data)
## 리스트 정렬 sort() - 오름차순, sort(reverse = True) - 내림차순
## 리스트 뒤집기 reverse()
## 리스트 해당 요소의 인덱스 index(data)
## 리스트 요소 삭제 : del 리스트명[인덱스], remove(data), clear()
## 리스트의 마지막 요소를 추출 : 리스트명.pop()
## 리스트의 요소의 개수 : 리스트명.count(data)
## 리스트의 확장 : 리스트.extend(리스트 자료형만 올 수 있다.)

### 튜플(Tuple) 자료형

In [37]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
print(t1)
print(t2)
print(t3)

()
(1,)
(1, 2, 3)

In [38]:
l1 = []
l2 = [1]
l3 = [1, 2, 3]
print(l1)
print(l2)
print(l3)

[]
[1]
[1, 2, 3]

In [39]:
t4 = (1, 2, 3, ['a','b'], ('aaa','bbb'))
print(t4)

(1, 2, 3, ['a', 'b'], ('aaa', 'bbb'))

In [40]:
print(t4[3])
print(type(t4[3]))

['a', 'b']
<class 'list'>

In [41]:
t4[3] = 4
print(t4)

TypeError: 'tuple' object does not support item assignment

In [42]:
t4[3][0] = 'k'
print(t4)

(1, 2, 3, ['k', 'b'], ('aaa', 'bbb'))

In [43]:
print(t4[:2])

(1, 2)

In [44]:
print(t4.pop())

AttributeError: 'tuple' object has no attribute 'pop'

In [45]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
print(t1 + t2)
print('t1 = ', t1)
print('t2 = ', t2)

(1, 2, 'a', 'b', 3, 4)
t1 =  (1, 2, 'a', 'b')
t2 =  (3, 4)

In [46]:
t1 = t1 + t2
print('t1 = ', t1)

t1 =  (1, 2, 'a', 'b', 3, 4)

In [47]:
print(t2 * 2)

(3, 4, 3, 4)

In [48]:
print(len(t1))

6

### 사전

In [49]:
dic = {'a':1}
s = {1, 2, 3, 1, 2}
l = []
t = ()

In [50]:
dic = {'name':'aaa', 'phone':'123-456-7890'}
print(dic)
print(type(dic))

{'name': 'aaa', 'phone': '123-456-7890'}
<class 'dict'>

In [51]:
# 사전[key]
print(dic['name'])

aaa

In [52]:
dic['age'] = 33 # 사전에 새로운 아이템을 추가하는 형식이다.
print(dic)

{'name': 'aaa', 'phone': '123-456-7890', 'age': 33}

In [53]:
dic[0] # 인덱스의 번호로 불러올 수 없다

KeyError: 0

In [54]:
dic[3] = [1, 2, 3]
print(dic)

{'name': 'aaa', 'phone': '123-456-7890', 'age': 33, 3: [1, 2, 3]}

In [55]:
del dic[3]
print(dic)

{'name': 'aaa', 'phone': '123-456-7890', 'age': 33}

In [56]:
student = {'id':[111, 222, 333, 444, 555],
           'name':['aaa', 'bbb', 'ccc', 'ddd', 'eee'],
           'kor':[88, 92, 74, 100, 93],
           'eng':[90, 87, 74, 88, 93],
           'math':[80, 70, 90, 50, 60]}
print(student)

{'id': [111, 222, 333, 444, 555], 'name': ['aaa', 'bbb', 'ccc', 'ddd', 'eee'], 'kor': [88, 92, 74, 100, 93], 'eng': [90, 87, 74, 88, 93], 'math': [80, 70, 90, 50, 60]}

In [57]:
print(student['id'])

[111, 222, 333, 444, 555]

In [58]:
print(student.keys())

dict_keys(['id', 'name', 'kor', 'eng', 'math'])

In [59]:
print(student.values())

dict_values([[111, 222, 333, 444, 555], ['aaa', 'bbb', 'ccc', 'ddd', 'eee'], [88, 92, 74, 100, 93], [90, 87, 74, 88, 93], [80, 70, 90, 50, 60]])

In [60]:
a = [[1, 2, 3], [4, 5, 6]]
a

[[1, 2, 3], [4, 5, 6]]

In [61]:
print(student.items())

dict_items([('id', [111, 222, 333, 444, 555]), ('name', ['aaa', 'bbb', 'ccc', 'ddd', 'eee']), ('kor', [88, 92, 74, 100, 93]), ('eng', [90, 87, 74, 88, 93]), ('math', [80, 70, 90, 50, 60])])

In [62]:
# for 개별변수 in 집합변수
for key in student.keys():
    print(key)

id
name
kor
eng
math

In [63]:
student.clear()
print(student)

{}

In [64]:
dic = {'name':'aaa', 'phone':'123-456-7890'}
dic['age'] = 33
print(dic)

{'name': 'aaa', 'phone': '123-456-7890', 'age': 33}

In [65]:
print(dic['name'])

aaa

In [66]:
print(dic.get('name')) # get을 이용하여 값을 가져오기도 한다.

aaa

### 집합(set)

In [67]:
# 중복이 불가능, 순서가 없다.
s = set([1, 2, 3, 4, 5])
print(s)

{1, 2, 3, 4, 5}

In [68]:
s2 = set('Hello')
print(s2)

{'H', 'o', 'l', 'e'}

In [69]:
a = list(s)
print(a)

[1, 2, 3, 4, 5]

In [70]:
b = tuple(s)
print(b)

(1, 2, 3, 4, 5)

In [71]:
# 집합과 관련된 함수
## add : 1개의 요소 추가
print(s)

{1, 2, 3, 4, 5}

In [72]:
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [73]:
s.add(5)
print(s)

{1, 2, 3, 4, 5, 6}

In [74]:
# 여러개의 값을 추가 update(리스트)
s1 = set([1, 2, 3])
print(s1)

{1, 2, 3}

In [75]:
s1.update(4)
print(s1)

TypeError: 'int' object is not iterable

In [76]:
s1.update([4])
print(s1)

{1, 2, 3, 4}

In [77]:
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [78]:
s1.update([7, 8, 9])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
s1.update('python')
print(s1)

{'t', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'p', 'y', 'o', 'n', 'h'}

In [80]:
# 특정 값을 제거하는 함수 remove(값)
s1.remove('p')
print(s1)

{'t', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'y', 'o', 'n', 'h'}

In [81]:
s1.remove('python')
print(s1)

KeyError: 'python'

In [82]:
print('#' * 5)

#####

In [83]:
for i in range(5): # 0, 1, 2, 3, 4 
    print('#')

#
#
#
#
#

In [84]:
for i in range(5): # 0, 1, 2, 3, 4 
    print('#', end = '')

#####

In [ ]:
for i in range(5): # 0, 1, 2, 3, 4 
    print('#', end = '')

In [85]:
a = '#####'
for i in range(5):
    print(a)

#####
#####
#####
#####
#####

In [86]:
a = '#'
for i in range(5):
    print(a = a*1,)

TypeError: 'a' is an invalid keyword argument for print()

In [87]:
a = "#"
for i in range(6):
    print(a*i)

#
##
###
####
#####

In [88]:
a = "#"
for i in range(6):
    print(str.rjust(10),(a*i))

TypeError: descriptor 'rjust' for 'str' objects doesn't apply to a 'int' object

In [1]:
n = 0
for i in range(4,-1,-1):
    n = n + 1
    print(" " * i + "#" * n)

    #
   ##
  ###
 ####
#####

### 제어문

In [89]:
# 조건문 : 단순 if문, if~else문, elif문 => 선택문
## 조건식 : 비교(관계) 연산자, 논리연산자
money = True
if money:
    print('택시 타고 집 가자')
else:
    print('걸어가자')

택시 타고 집 가자

#### 계산기 프로그램
두 개의 정수와 하나의 연산자를 입력받아 연산을 수행한 후 결과를 출력하는 프로그램을 구현하시오.

In [92]:
a = int(input('숫자1 = '))
b = int(input('숫자2 = '))
c = input('연산자(+, -, *, / 중 택1) = ')
if c == '+':
    print(a + b) 
elif c == '-':
    print(a - b) 
elif c == '*':
    print(int(a * b))
elif c == '/':
    print(int(a / b))
else:
    print ('연산을 수행할 수 없습니다.')

숫자1 = 0
숫자2 = 10
연산자(+, -, *, / 중 택1) = /
0

#### UP/DOWN 게임
1에서 100 사이의 숫자 하나를 랜덤으로 발생한 후 사용자가 입력한 숫자와 비교하여 그 결과를 출력하는 프로그램

In [91]:
# 난수 생성하는 함수를 가지고 있는 모듈
import random

# 난수 생성 함수 : random.randint(1, 100) - 하나의 정수 난수(1~100) 생성
check = random.randint(1, 100)

In [95]:
#해답
user = int(input('수 입력(1에서 100사이) = '))

# while True: #무한 Loop
    
while(user != check): # user not in check
    if user > check:
        print('Down')
    else:
        print('Up')
    user = int(input('수 입력(1에서 100사이) = '))

else:
    print('check = ',check, 'user =',user)

수 입력(1에서 100사이) = 66
Down
수 입력(1에서 100사이) = 30
Up
수 입력(1에서 100사이) = 35
Down
수 입력(1에서 100사이) = 34
Down
수 입력(1에서 100사이) = 32
Up
수 입력(1에서 100사이) = 33
check =  33 user = 33

In [ ]:


while True: #무한 Loop
    user = int(input('수 입력(1에서 100사이) = '))
    if check == user :
        pirnt('Down')
    else:
        print('Up')
    user = int(input('수 입력(1에서 100사이) = '))

else:
    prin('check = ',check, 'user =',user)

In [ ]:
kotae = int(input('정답을 입력하세요 = '))
while kotae < 101:
    if kotae == check:
        print('정답입니다.')
    elif kotae > check:
        print('숫자를 줄이세요')
    elif kotae < check:
        print('숫자를 늘리세요')
        #살려주세여.....

### 사다리꼴의 넓이를 구하는 프로그램을 구현하시오.

In [96]:
# 윗변, 아랫변, 높이 
## 윗변을 입력받는다.
a = int(input('윗변 = '))

## 아랫변을 입력받는다.

b = int(input('아랫변 = '))

## 높이를 입력받는다

c = int(input('높이 = '))

## 넓이를 계산하여 결과를 저장하는 변수에 담는다.

area = (a + b)/ 2 * c

## 넓이의 결과를 출력한다.
print('사다리꼴의 넓이 = ', area)

윗변 = 4
아랫변 = 2
높이 = 5
사다리꼴의 넓이 =  15.0

In [97]:
while True:
    print('==== Main Menu =====')
    print('1. 최대값 구하기')
    print('2. 수나열 구하기')
    print('3. 계산기 프로그램')
    print('4. 프로그램 종료')
    print('====================')
    menu = int(input('menu = '))
    
    if menu == 4:
        break
    elif menu == 1:
        pass
    elif menu == 2:
        pass
    elif menu == 3:
        pass
    else:
        print('너 바보지!')

==== Main Menu =====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
====================
menu = 5
너 바보지!
==== Main Menu =====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
====================
menu = 2
==== Main Menu =====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
====================
menu = 3
==== Main Menu =====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
====================
menu = 1
==== Main Menu =====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
====================
menu = 4

### 함수(Function)
1. 함수의 정의 : 관련된 기능이나 명령어 묶음
  - 필요할 때 호출 가능
  - 유지보수가 수월
  - 가독성이 좋다
  
2. 함수의 구조(구성) : def(=define) 선언문
   def 함수의 이름(매개변수):<br>
       문장1<br>
       문장2<br>
        |  <br>
       return 값
       
3. 함수의 호출 방법
  - 이름에 의한 호출(Call By Name)
  - 값에 의한 호출(Call By Value)
  - 주소에 의한 호출(Call By Reference)
  
4. 함수의 기본 형식
  - 매개변수 없고, 리턴값도 없는 경우
  - 매개변수 없고, 리턴값 있는 경우
  - 매개변수 있고, 리턴값 없는 경우
  - 매개변수 있고, 리턴값 있는 경우

In [98]:
# 매개변수 없고, 리턴값도 없는 함수
def aaa(): 
    print('Hi')
    print('뭘봐')

In [99]:
# 매개변수 없고, 리턴값 있는 경우
def bbb(): 
    return 'Hi'

In [100]:
# 매개변수 있고, 리턴값 없는 경우
def ccc(a):
    print(a)

In [101]:
def ddd(a, b, c):
    print(a + b + c)

In [102]:
# 매개변수 있고, 리턴값 있는 경우
def eee(a, b):
    c = a + b
    return c

In [103]:
# 함수 호출
print('프로그램 시작')
print('여러가지 작업')
aaa()
print('프로그램 종료')

프로그램 시작
여러가지 작업
Hi
뭘봐
프로그램 종료

In [105]:
# 함수 호출
print('프로그램 시작')
print('여러가지 작업')
print(bbb()) # print('Hi')
string = bbb()  # string = 'Hi'
print(string)
print('프로그램 종료')

프로그램 시작
여러가지 작업
Hi
프로그램 종료

In [106]:
# 함수 호출
print('프로그램 시작')
print('여러가지 작업')
ccc('bye')
print('프로그램 종료')

프로그램 시작
여러가지 작업
bye
프로그램 종료

In [108]:
# 함수 호출
print('프로그램 시작')
print('여러가지 작업')
ccc()
print('프로그램 종료')

프로그램 시작
여러가지 작업

TypeError: ccc() missing 1 required positional argument: 'a'

In [131]:
# default parameter : 초기 파라미터
## 함수의 매개변수에 초기값을 담아서 처리하는 기능
def ppp(a = 1, b= 2 , c= 3):
    print(a, b, c)

In [132]:
ppp()

1 2 3

In [133]:
ppp(100)

100 2 3

In [134]:
ppp(100,200)

100 200 3

In [129]:
ppp(100,200,300)

100 200 300

In [135]:
# 함수 호출
print('프로그램 시작')
print('여러가지 작업')
#print(eee(1, 2))
x = eee(1, 2)
print('x = ', x)
print('프로그램 종료')

프로그램 시작
여러가지 작업
x =  3
프로그램 종료

In [3]:
# 가변길이 매개변수
def add(a, b):
    return a + b

In [4]:
def add(a, b, c):
    return a + b + c

In [5]:
add(10, 20)

TypeError: add() missing 1 required positional argument: 'c'

In [141]:
add(10, 20, 30)

60

In [147]:
# 가변길이 매개변수 
def add_res(*args):
    res = 0
    
    for i in args:
        #res = res + i
        res += i
        
    return res

In [148]:
a = add_res(1, 2, 3)
print('a = ', a)

a = add_res(1, 2, 3, 4, 5 )
print('a = ', a)

a = add_res(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print('a = ', a)

a =  6
a =  15
a =  55

In [149]:
def calc(ch, *ar):
    if ch == 'add':
        res = 0
        for i in ar:
            res += i
    elif ch == 'mul':
        res = 1
        for i in ar:
            res *= i
            
    return res

In [150]:
a = calc('add', 1, 2, 3)
print('a =', a)
b = calc('mul', 1, 2, 3, 4, 5)
print('b = ',b)

a = 6
b =  120