In [1]:
# 리스트 생성
a = [1, 2, 3, 4, 5]
print(a)
# 자료형 확인
print(type(a))
# 개별요소를 참조 - 인덱스
print(a[0]) # 첫번째 요소
print(a[1])
# 마지막요소
print(a[4])
print(a[-1])
# 리스트 변경 가능
a[0] = 10
print('a= ', a)
# 개별요소를 줄단위로 출력
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
# 반복문은 for과 while 로 사용할 수 있다.
# for 개별변수 in 집합변수(리스트) - 데이터의 반복 횟수가 명확할 때
for i in a:
    print(i)

print("------------------------------------------------------")
print('-' * 20)

# for i in a:
#     print(a[i])   a[a[0]]

[1, 2, 3, 4, 5]
<class 'list'>
1
2
5
5
a=  [10, 2, 3, 4, 5]
10
2
3
4
5
10
2
3
4
5
------------------------------------------------------
--------------------

In [2]:
# 중첩 리스트 - 이차원 리스트, 이차원 배열
a = [1, 2, 3,['a','b','c']]
print(a)
print(a[3])
print(a[3][0]) # 리스트[행][열]

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
a

In [3]:
# 리스트를 저장할 때 값 자체가 아니라 값이 위치한 메모리의 주소를 저장한다.
x = [1, 2, 3, 4, 5]
# 객체복사
y = x 
y[0] = 10
print('x = ', x)
print('y = ', y)

x =  [10, 2, 3, 4, 5]
y =  [10, 2, 3, 4, 5]

In [4]:
x = [1, 2, 3, 4, 5]
y = x[:] # slicing[start:stop]
y[0] = 10
print('x = ', x)
print('y = ', y)

x =  [1, 2, 3, 4, 5]
y =  [10, 2, 3, 4, 5]

In [5]:
x = [1, 2, 3, 4, 5]
print(x[0:2])

[1, 2]

In [6]:
print(x[:])

[1, 2, 3, 4, 5]

In [7]:
print(x[:3])

[1, 2, 3]

In [8]:
print(x[1:])

[2, 3, 4, 5]

In [20]:
# 리스트 연산 : 더하기(+) 연산 
a = [1, 2, 3]
b = [5, 6, 7]
c = a + b # extend(확장)의 의미, 리스트가 가로로 연결된다
a.extend(b) # a = a + b . d = a = a + b(x)
print('c = ', c)
print('a = ', a)

c =  [1, 2, 3, 5, 6, 7]
d =  None

In [13]:
# a.extend(b) = a = a +b
# 확장시 별도의 변수에 담을 수 없다. d = a.extend([5, 6, 7]) => 잘못된 것.
print('c = ', c)
print('d = ', d)

c =  [1, 2, 3, 5, 6, 7]
d =  None

In [16]:
# 문자열도 시퀀스 자료형
# 문자열 + 문자열
'hello ' + 'python'

'hello python'

In [22]:
# 리스트 연산 : 곱셈(*), 반복, 형식: 리스트 * 반복횟수
a = [1, 2, 3]
b = a * 3
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
'hello ' * 3

'hello hello hello '

In [21]:
a

[1, 2, 3, 5, 6, 7]

In [24]:
a

[1, 2, 3]

In [25]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 3]

In [26]:
a = [1, 2, 3]
a[1:3] = [] # 인덱스 1과 2번째 값을 삭제한다.
a

[1]

In [28]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [29]:
a = [1, 4, 2, 3]
a.sort() # 오름차순
print(a)

[1, 2, 3, 4]

In [31]:
a = [1, 4, 2, 3]  
a.sort()
a.reverse() # 뒤집기
a

[4, 3, 2, 1]

In [32]:
a = [1, 4, 2, 3] 
a.sort(reverse = True)
a

[4, 3, 2, 1]

In [33]:
a = ['a', 'd', 'b', 'c'] # 사전순 = 알파벳순으로
a.sort()
a

['a', 'b', 'c', 'd']

In [34]:
a = [1, 2, 3, 4, 5]
print(a.index(3)) # 3이라는 값이 몇 번째 위치에 있는가?

2

In [35]:
b = ['a','b','c']
print(b.index('h')) #없는 데이터의 위치를 찾으면 에러발생

ValueError: 'h' is not in list

In [36]:
a = [1, 2, 3]
a.insert(0, 4)
print(a)

[4, 1, 2, 3]

In [37]:
a = [1, 2, 3, 1, 2, 3]
# 값이 3인 요소 삭제(처음 나온 숫자 3 1개만 삭제) 
a.remove(3) # 인덱스 번호가 아니라 값으로 삭제한다.
print(a)

[1, 2, 1, 2, 3]

In [38]:
del a[0]  # 인덱스로 삭제
a

[2, 1, 2, 3]

In [39]:
a = [1, 2, 3]
b = a.pop() # 리스트의 마지막 요소를 추출
print(a)
print(b)

[1, 2]
3

In [40]:
# 요소의 개수(건수)
a = [1, 2, 3, 1, 2, 1]
b = a.count(1) # 값이 1인 요소가 몇 개인지 계산하는 함수
print(b)

3

In [41]:
# 리스트의 확장
a = [1, 2, 3]
# 리스트1.extend(리스트2)  => 리스트1 확장
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]

In [42]:
a.extend(6)  # => 6은 하나의 개체요소이므로 리스트가 아니라 확장이 되지 않는다. 반드시 리스트를 담아야 한다.
print(a)

TypeError: 'int' object is not iterable

In [43]:
b = [7, 8]
print(a + b)

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
# 값 in 리스트, 값 not in 리스트 => 결과는 True or False
a = [1, 2, 3, 4, 5]
result = 2 in a # 2가 a에 있으면 True, 없으면 False라고 뜬다.
print(result)

result = 2 not in a # 2가 a에 있으면 False, 없으면 True 라고 뜬다.

# 튜플(Tuple)

In [44]:
t1 = (1, 2, 'a', 'b')
print(t1)
print(type(t1))
print(t1[0])
print(t1[-1])
t1[0] = 'c' # 튜플은 리스트와 다르게 안에 요소를 변경하는 것이 "불가능"하다. 에러가 발생한다.

(1, 2, 'a', 'b')
<class 'tuple'>
1
b

TypeError: 'tuple' object does not support item assignment

In [45]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [47]:
t1 = (1, 2, 'a', 'b')
print(t1[1:])
t2 = (3, 4)
print(t1 + t2)
t1 = t1 + t2  # t1에 t2값이 추가되지 않고 t1이라는 새로운 튜플을 생성한다는 의미로 이해해야 한다.
print('t1 = ', t1)
print(t1 * 3)

(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
t1 =  (1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4)

In [49]:
# 파이썬의 기본 자료형 튜플
a = 10
b = 20
a, b = b, a
print ('a = ', a, 'b = ', b)

a =  20 b =  10

In [50]:
a = 10
b = 20
a, b = (b, a)
print ('a = ', a, 'b = ', b)

a =  20 b =  10

In [52]:
# packing(패킹) : 여러 개의 값을 하나의 변수에 저장하는 것
t1 = (1, 2, 3)

# unpacking : 하나의 변수에 담은 값을 각각의 변수에 할당하는 것
# 데이터의 개수와 변수의 개수는 반드시 일치해야 한다.
n1, n2, n3 = t1

# 출력형식이 포함된 문자열.format(값1, 값2, 값3)
print('{0} {1} {2}'.format(n1, n2, n3))

# 변수의 값을 교환
n1, n2 = n2, n1
print('{0} {1}'.format(n1, n2))

1 2 3
2 1

In [53]:
# 형변환 : int(), float(), str()
# 자료구조의 형변환 : list(), tuple()
my_list = [1, 2, 3]
my_tuple = ('x','y','z')
print(my_list)
print(my_tuple)

[1, 2, 3]
('x', 'y', 'z')

In [54]:
print(tuple(my_list))
print(list(my_tuple))

(1, 2, 3)
['x', 'y', 'z']

# 딕셔너리

In [55]:
# 딕셔너리{key.value, key.value, key.value} => key.value 라는 각 요소를 item이라 부른다.
# key는 숫자인덱스보다 문자인덱스를 선호(권장)
# key는 중복 불가능
a = {1:'a'}
print(a)
print(type(a))

{1: 'a'}
<class 'dict'>

In [56]:
# 사전에 아이템(item) 추가하기
a[2] = 'b' #a[2] 키(key), 'b' 는 값(value)이다.
print(a)

{1: 'a', 2: 'b'}

In [57]:
stu = {'name':'홍길동', 'phone':'010-1234-5678', 'age':23}
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23}

In [59]:
# 키를 이용해서 값을 조회
print(stu['name']) # 딕셔너리[key]
print(stu.get('name')) # 딕셔너리.get(key)
print(stu['age']) # 딕셔너리[key]
print(stu.get('age')) # 딕셔너리.get(key)

홍길동
홍길동
23
23

In [61]:
# keys 조회
stu.keys()

dict_keys(['name', 'phone', 'age'])

In [64]:
# values 조희
stu.values()

dict_values(['홍길동', '010-1234-5678', 23])

In [65]:
# items
stu.items()

dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)])

In [ ]:
# for 개별변수 in 집합변수(key값)

In [66]:
for k in stu.keys(): # for k in ['name', 'phone', 'age'] 
    print(k,'==>', stu[k])

name ==> 홍길동
phone ==> 010-1234-5678
age ==> 23

In [67]:
b = list(stu.keys())
print(b)

['name', 'phone', 'age']

In [69]:
c = list(stu.values())
print(c)

['홍길동', '010-1234-5678', 23]

In [70]:
d = list(stu.items())
print(d)

[('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)]

In [71]:
print(type(d))

<class 'list'>

In [72]:
print(d[0])

('name', '홍길동')

In [73]:
for k, v in d: #..이해 불가능... 살ㄹ려우저어
    print(k,'==>', v)

name ==> 홍길동
phone ==> 010-1234-5678
age ==> 23

In [74]:
# 새로운 item 추가
stu['weight'] = 67.4
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23, 'weight': 67.4}

In [75]:
'weight' in stu

True

# 집합(set)

In [76]:
# 집합 자료형 : 중복값은 허용하지 않으며, 순서대로 저장되지 않는다.
s1 = set([5, 4, 3, 2, 1, 1, 2, 3, 2, 3, 4, 5])
s1

{1, 2, 3, 4, 5}

In [77]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합, &
a = s1 & s2
print('교집합 : ', a)

# 합집합, |
b = s1 | s2
print('합집합 : ', b)

# 차집합, -
c = s1 - s2
print('차집합 : ', c)

교집합 :  {4, 5, 6}
합집합 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 :  {1, 2, 3}

In [78]:
print('교집합 : ', s1.intersection(s2))
print('합집합 : ', s1.union(s2))
print('차집합 : ', s1.difference(s2))

교집합 :  {4, 5, 6}
합집합 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 :  {1, 2, 3}

In [79]:
s1 = set([1, 2, 3]) 
# 요소 추가
s1.add(4)
print(s1)
s1.add(4, 5) # 1개만 추가가 되고 , 에러가 발생할 수 있다.(여러개의 숫자(요소)를 동시에 추가 할 수 없다.)
print(s1)

{1, 2, 3, 4}

TypeError: set.add() takes exactly one argument (2 given)

In [80]:
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [81]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [82]:
# 업데이트는 리스트만 추가할 수 있다. 각 개체의 요소를 추가 할 수는 없다.

In [83]:
s1.update([7])
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [84]:
s1.remove(2) # 값을 제거
print(s1)

{1, 3, 4, 5, 6, 7}

In [85]:
dic = {'a':10}
sse = {10}
print(dic)
print(sse)

{'a': 10}
{10}

In [90]:
x = [1,2,3,4,5]
y = x
print('x 주소 : ', id(x))
print('y 주소 : ', id(y))

x 주소 :  1983697334848
y 주소 :  1983697334848

In [93]:
x = 10
y = 20
print('x 주소 : ', id(x))
print('y 주소 : ', id(y))
x, y = y, x
print('x 주소 : ', id(x))
print('y 주소 : ', id(y))

x 주소 :  1983582923344
y 주소 :  1983582923664
x 주소 :  1983582923664
y 주소 :  1983582923344

# 날짜 자료형

In [94]:
# 날짜 관련 함수를 가지고 있는 모듈을 포함
# import datetime 해당 모듈(datetime) 전체를 가져온다는 의미
from datetime import date, time, datetime, timedelta

In [95]:
# date 변수, today() - 오늘 날짜를 구하는 함수
today = date.today()
print('today : {}'. format(today))

today : 2022-09-01

In [96]:
print('연도 : {}'. format(today.year))
print('월 : {}'. format(today.month))
print('일 : {}'. format(today.day))

연도 : 2022
월 : 9
일 : 1

In [98]:
# 날짜 시간 구하기
current_datetime = datetime.today()
print('현재날짜와 시간 : {}'. format(current_datetime))

현재날짜와 시간 : 2022-09-01 14:19:40.648025

In [99]:
# 형식화된 날짜 출력 : 서식(%)
today = datetime.today()
print(today)
print(type(today))

2022-09-01 14:24:50.862334
<class 'datetime.datetime'>

In [104]:
# 날짜 자료형을 문자열로 형변환
# %y - 년도, %m - 월, %M - 분, %H - 시간
d = today.strftime('%Y-%m-%d %H:%M:%S')
print(d)
print(type(d))

2022-09-01 14:24:50
<class 'str'>

In [105]:
days = timedelta(days = -1)
# 어제 날짜
print(today + days)
# 1주일 전
days = timedelta(days = -7)
print(today + days)
# 30일 후
days = timedelta(days = 30)
print(today + days)
# 8시간 전
hours = timedelta(hours = -8)
print(today + hours)

2022-08-31 14:24:50.862334
2022-08-25 14:24:50.862334
2022-10-01 14:24:50.862334
2022-09-01 06:24:50.862334

# 리스트 내포(List Comprehension)

In [107]:
# 비어있는 리스트 변수 생성
a = [] # a = list()

# for 개별변수 in 집합변수
for i in range(1, 6): # [1, 2, 3, 4, 5] == range(1, 6)
    a.append(i * 2)
    
print(a)

[2, 4, 6, 8, 10]

In [109]:
# 출력값 - 실제 리스트에 담겨질 값
a = [i * 2 for i in range(1,6)]
print(a)

[2, 4, 6, 8, 10]